<widget id='http://tizen.org/test/tct-nfc-tizen-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='2.2.1'>
  <access origin="*"/>
  <name>tct-nfc-tizen-tests</name>
  <tizen:privilege name="http://tizen.org/privilege/nfc.admin"/>
  <tizen:privilege name="http://tizen.org/privilege/nfc.common"/>
  <tizen:privilege name="http://tizen.org/privilege/nfc.p2p"/>
  <tizen:privilege name="http://tizen.org/privilege/nfc.tag"/>
  <icon src="icon.png" height="117" width="117"/>
  <tizen:application id="api1nfc000.WebAPITizenNfcTests" package="api1nfc000" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape" />
  <tizen:setting background-support="enable"/>
</widget>
