<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/web_feature_scheme_tests" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" version="1.0.0">
  <icon src="icon.png" height="117" width="117"/>
  <content src="index.html"/>
  <name>web_feature_scheme_tests</name>
  <tizen:application id="mfhxbzlvjo.webfeatureschemetests" package="mfhxbzlvjo" required_version="2.2"/>
</widget>
