<widget id='http://tizen.org/test/tct-colors-css3-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>tct-colors-css3-tests</name>
  <tizen:application id="css3colors.WebAPICSS3ColorsTests" package="css3colors" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
