<widget id='http://tizen.org/test/wrt-commoni18n-webapp-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='1.0.0.1'>
  <name short="Example 2.0">i18n_locales_chinese_tests
  </name>
  <name xml:lang="zh">i18n中文</name>
  <name xml:lang="ja">i18nページ</name>
  <name xml:lang="en">i18nEnglish</name>
  <name xml:lang="de">i18nDe</name>
  <name xml:lang="fr">i18nFr</name>
  <description>  This is i18n language test app. </description>
  <description xml:lang="zh">中文描述</description>
  <description xml:lang="ja">ページページ</description>
  <description xml:lang="en">English description</description>
  <tizen:application id="i18nlocale.Chinese" package="i18nlocale" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
