<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/html5-api-getusermedia-allow" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets">
  <access origin="*"/>
  <content src="index.html"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>html5-api-getusermedia-allow</name>
  <tizen:application id="wrtgumapi1.html5apigetusemediapolicytrue" package="wrtgumapi1" required_version="2.1"/>
  <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
</widget>