<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/TCTAppInfoEventTest" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:application id="api1appli3.TCTAppInfoEventTest" package="api1appli3" required_version="2.2"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>TCTAppInfoEventTest1</name>
    <tizen:setting screen-orientation="landscape" background-support="enable"/>
</widget>
