<widget id='http://tizen.org/test/webapi-nfc-w3c-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='2.2.1'>
  <access origin="*"/>
  <name>webapi-nfc-w3c-tests</name>
  <icon src="icon.png" height="117" width="117"/>
  <tizen:application id="apiw3cnfc0.WebAPIW3cNfcTests" package="apiw3cnfc0" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
