<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Sample-widget" version="1.0.0" viewmodes="maximized">
  <tizen:application id="wrt1smt007.Samplewidget" package="wrt1smt007" required_version="2.1"/>
  <content src="index.html"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>Sample-widget</name>
</widget>