<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/setting-bs-enable" xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <content src="index.html"/>
  <name>setting-bs-enable</name>
  <tizen:application id="wrttest008.settingbsenable" package="wrttest008" required_version="2.1"/>
  <tizen:setting background-support="enable" />
</widget>

