<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/test/usecase-cordova-android-tests" version="2.2.1" viewmodes="">
    <access origin="*"/>
    <tizen:application id="cordovates.cordovausecasetests" package="tctbhtests" required_version="2.2"/>
    <icon src="icon.png" height="117" width="117"/>
    <name>usecase-cordova-android-tests</name>
    <tizen:setting context-menu="disable" background-support="disable" encryption="disable" install-location="auto"/>
</widget>
