<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/test/tct-behavior-tests" version="3.0" viewmodes="">
    <access origin="*"/>
    <tizen:application id="tctbhtests.TCTBehaviorTests" package="tctbhtests" required_version="2.2"/>
    <icon src="icon.png" height="117" width="117"/>
    <name>tct-behavior-tests</name>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
    <tizen:privilege name="http://tizen.org/privilege/alarm"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth.admin"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth.gap"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth.spp"/>
    <tizen:privilege name="http://tizen.org/privilege/calendar.read"/>
    <tizen:privilege name="http://tizen.org/privilege/calendar.write"/>
    <tizen:privilege name="http://tizen.org/privilege/callhistory.read"/>
    <tizen:privilege name="http://tizen.org/privilege/callhistory.write"/>
    <tizen:privilege name="http://tizen.org/privilege/contact.read"/>
    <tizen:privilege name="http://tizen.org/privilege/contact.write"/>
    <tizen:privilege name="http://tizen.org/privilege/content.read"/>
    <tizen:privilege name="http://tizen.org/privilege/content.write"/>
    <tizen:privilege name="http://tizen.org/privilege/download"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/messaging.read"/>
    <tizen:privilege name="http://tizen.org/privilege/messaging.write"/>
    <tizen:privilege name="http://tizen.org/privilege/nfc.admin"/>
    <tizen:privilege name="http://tizen.org/privilege/nfc.cardemulation"/>
    <tizen:privilege name="http://tizen.org/privilege/nfc.common"/>
    <tizen:privilege name="http://tizen.org/privilege/nfc.p2p"/>
    <tizen:privilege name="http://tizen.org/privilege/nfc.tag"/>
    <tizen:privilege name="http://tizen.org/privilege/notification"/>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:privilege name="http://tizen.org/privilege/system"/>
    <tizen:privilege name="http://tizen.org/privilege/time"/>
    <tizen:privilege name="http://tizen.org/privilege/datasync"/>
    <tizen:privilege name="http://tizen.org/privilege/package.info"/>
    <tizen:privilege name="http://tizen.org/privilege/packagemanager.install"/>
    <tizen:privilege name="http://tizen.org/privilege/setting"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetoothmanager"/>
    <tizen:privilege name="http://tizen.org/privilege/push"/>
    <tizen:privilege name="http://tizen.org/privilege/systemmanager"/>
    <tizen:setting context-menu="disable" background-support="disable" encryption="disable" install-location="auto"/>
</widget>
