#toolAnnotation {
  font-size:12px;
  font-family:arial;
  height:455;
  width:600;
  position:absolute;
  left:218;
  top:22;
  z-index:9999;
  display:none;
}
#toolAnnotation.active {
  display:block;
}
#toolAnnotation .tools {
  width:600;
  height:50;
  margin:0px auto;
}
#toolAnnotation .pen,.text,.line,.rectangle,.ellipse,.eraser,.exit {
  width:40;
  height:40;
  position:relative;
  left:10;
  top:5;
}
#toolAnnotation .pen {
  background:url(../images/toolAnnotation/toolAnnotation_pen.png);
}
#toolAnnotation .text {
  background:url(../images/toolAnnotation/toolAnnotation_text.png);
}
#toolAnnotation .line {
  background:url(../images/toolAnnotation/toolAnnotation_line.png);
}
#toolAnnotation .rectangle {
  background:url(../images/toolAnnotation/toolAnnotation_rectangle.png);
}
#toolAnnotation .ellipse {
  background:url(../images/toolAnnotation/toolAnnotation_ellipse.png);
}
#toolAnnotation .eraser {
  background:url(../images/toolAnnotation/toolAnnotation_eraser.png);
}
#toolAnnotation .exit {
  background:url(../images/toolAnnotation/toolAnnotation_exit.png);
}
#toolAnnotation .current {
  border-right:#f0f0f0 solid 2px;
  border-bottom:#f0f0f0 solid 2px;
  border-left:#9c9c9c solid 2px;
  border-top:#9c9c9c solid 2px;
}
#toolAnnotation .color {
  font-weight:bold;
  position:relative;
  left:20;
  top:-20;
}
#toolAnnotation .red,.green,.blue {
  width:12;
  height:12;
  position:relative;
  left:10;
  top:-19;
  margin-left:5;
  border:none;
  cursor:pointer;
}
#toolAnnotation .red {
  background:red;
}
#toolAnnotation .green {
  background:green;
}
#toolAnnotation .blue {
  background:blue;
}
#toolAnnotation .width {
  font-weight:bold;
  position:relative;
  left:-82;
  top:0;
}
#toolAnnotation .lineWidth {
  height:15;
  width:25;
  position:relative;
  left:-87;
  top:0;
  padding:1;
}
#toolAnnotation .range {
  position:relative;
  left:-83;
  top:0;
}
#toolAnnotation .canvas {
  margin:0px auto;
  margin-top:2;
}
#toolAnnotation .input-text {
  display:none;
  padding:0;
  margin:0;
}