#book-stage{
  width:1600px;
  height:500px;
}
.content-wrapper .pnum{
  text-align: center;
  font-size:160px;
  position: absolute;
  bottom:0;
  left:0;

}
article{
  background-color:#fff;
}
.content-wrapper{
  width:848px;
  height:672px;
 /* margin:25px auto 25px auto;*/
  position: relative;
  background: #fff;
}

#book .turn-page{
  background-color:#fff;
  background-size:100% 100%;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,1);
}
