<widget id='http://tizen.org/test/webapi-webcl-nonw3c-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>webapi-webcl-nonw3c-tests</name>
  <tizen:application id="nonw3cwebc.WebAPINONW3CWebclTests" package="nonw3cwebc" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
