<widget id='http://tizen.org/test/tct-tizen-tizen-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='2.2.1'>
  <access origin="*"/>
  <name>tct-tizen-tizen-tests</name>
  <tizen:privilege name="http://tizen.org/privilege/appmanager.kill"/>
  <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
  <icon src="icon.png" height="117" width="117"/>
  <tizen:application id="api1tizen0.WebAPITizenTizenTests" package="api1tizen0" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape" />
  <tizen:setting background-support="enable"/>
</widget>
