<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/webgl_webrtc_disable_tests" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" version="1.0.0">
  <icon src="icon.png" height="117" width="117"/>
  <content src="index.html"/>
  <name>webgl_webrtc_disable_tests</name>
  <tizen:application id="cgfyoiieqs.webglwebrtcdisabletests" package="cgfyoiieqs" required_version="2.2"/>
</widget>
