<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/test-hosted-widget" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets">
  <content src="www.google.com"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>test-hosted-widget</name>
  <tizen:application id="wrt1pkm005.testhostedwidget" package="wrt1pkm005" required_version="2.1"/>
</widget>