<widget id='http://tizen.org/test/sampleapp-tizen-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>sampleapp-tizen-tests</name>
  <tizen:application id="zdnfcgkdlx.wrtsampleapptizentests" package="zdnfcgkdlx" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
