<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/TCTAppControlMock" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:app-control>
        <tizen:src name="appcontrol_launch_explicit.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/tct/launch/explicit"/>
        <tizen:uri name="tct"/>
        <tizen:mime name="text/html"/>
    </tizen:app-control>
    <tizen:application id="api1appli2.TCTAppControlMock" package="api1appli2" required_version="2.2"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>TCTAppControlMock</name>
    <tizen:setting screen-orientation="landscape" background-support="enable"/>
</widget>
