<widget id='http://android.org/test/webapi-download-android-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='2.2.1'>
  <access origin="*"/>
  <name>webapi-download-android-tests</name>
  <android:privilege name="http://tizen.org/privilege/download"/>
  <icon src="icon.png" height="117" width="117"/>
  <android:application id="api1downl0.WebAPIAndroidDownloadTests" package="api1downl0" required_version="2.2"/>
  <android:setting screen-orientation="landscape" />
  <android:setting background-support="enable"/>
</widget>

