<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        id    = "http://example.org/exampleWidget"
        version = "2.0 Beta"
        height = "200"
        widtht = "200"
        viewmode = "fullscreen">
  
  <name short="Example 2.0"> manifest
  </name>
</widget>
