<widget id='http://tizen.org/test/webrtc-webapp-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='1.0.0.0'>
  <name short="Example 2.0">WebRTC</name>
  <tizen:application id="webrtctest.wrtwebrtctest" package="webrtctest" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>  
</widget>
