<widget id='http://tizen.org/test/webapi-mediaserver-tizen-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="123" width="123"/>
  <name>webapi-mediaserver-tizen-tests</name>
  <tizen:application id="dlnaxwalks.WebAPIMediaServerTizenTests" package="dlnaxwalks" required_version="2.1"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
