<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/tct-bt-helper" version="1.0.0" viewmodes="maximized">
    <tizen:application id="ps2w1DxNKj.TctBtHelper" package="ps2w1DxNKj" required_version="2.1"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>tct-bt-helper</name>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth.admin"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth.gap"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth.spp"/>
    <tizen:privilege name="http://tizen.org/privilege/tizen"/>
</widget>
