<widget id='http://tizen.org/test' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <name>crosswalk_feature_flags_tests</name>
  <tizen:application id="featurefla.tizen" package="featurefla" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
