<widget id='http://tizen.org/test/wrt-media-capture-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='1.0.0.1'>
  <name short="Example 2.0">capture_video_camera</name>
  <tizen:application id="capturevid.capturevideocamer" package="capturevid" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
  <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
  <tizen:privilege name="http://tizen.org/privilege/content.read"/>
  <tizen:privilege name="http://tizen.org/privilege/content.write"/>
  <tizen:privilege name="http://tizen.org/privilege/download"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
  <tizen:privilege name="http://tizen.org/privilege/messaging.read"/>
  <tizen:privilege name="http://tizen.org/privilege/messaging.write"/>
  <tizen:privilege name="http://tizen.org/privilege/location"/>
  <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
  <tizen:privilege name="http://tizen.org/privilege/system"/>
  <tizen:privilege name="http://tizen.org/privilege/systemmanager"/>
  <tizen:setting context-menu="disable" background-support="disable" encryption="disable" install-location="auto"/>
</widget>
