<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/TCTPackageInfoTest" version="1.2.3" viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:application id="api1pack20.TCTPackageInfoTest" package="api1pack20" required_version="2.2"/>
    <author>The author of TCTPackageInfoTest</author>
    <content src="index.html"/>
    <description>The description of TCTPackageInfoTest</description>
    <icon src="icon.png"/>
    <name>TCTPackageInfoTest</name>
    <tizen:setting screen-orientation="landscape" background-support="enable"/>
</widget>