<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2014 Intel Corporation. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.android.webview.api.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:label="usecase-webview-android-tests" >
        <activity
            android:name=".WebViewAPISample"
            android:label="Usecase WebViewAPI" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.WebViewWithLayoutActivity"
            android:label="@string/title_activity_webview_with_layout"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.WebViewWithAnimatableActivity"
            android:label="@string/title_activity_webview_with_animatable"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.WebViewWithLoadDataWithBaseURL"
            android:label="@string/title_activity_webview_with_loaddata"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.WebViewWithMultiInstanceActivity"
            android:label="@string/title_activity_multi_webview"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.WebViewWithPlayVideoActivity"
            android:label="@string/title_activity_webview_with_playvideo"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.WebViewWithPauseTimerActivity"
            android:label="@string/title_activity_webview_with_pausetimer"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.WebViewWithScrollViewParent"
            android:label="@string/title_activity_webview_with_scrollview_parent"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.WebViewWithMultiInstanceOverlay"
            android:label="@string/title_activity_webview_with_multi_instance_overlay"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.WebViewWithClients"
            android:label="@string/title_activity_webview_with_clients"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.WebChromeClient.WebViewClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".misc.WebViewWithNavigation"
            android:label="@string/title_activity_webview_with_navigation"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Misc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.WebViewWithOnReceivedIcon"
            android:label="@string/title_activity_webview_with_on_received_icon"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.WebChromeClient.WebViewClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.WebViewWithOnCreateWindow"
            android:label="@string/title_activity_webview_with_on_create_window"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.WebChromeClient.WebViewClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.WebViewWithFullScreenActivity"
            android:label="@string/title_activity_webview_with_fullscreen"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.WebViewWithShouldOverrideUrlLoading"
            android:label="@string/title_activity_webview_with_should_override_url_loading"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.WebChromeClient.WebViewClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.WebViewWithTransparent"
            android:label="@string/title_activity_webview_with_transparent"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.WebViewWithClearCache"
            android:label="@string/title_activity_webview_with_clear_cache"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.WebViewWithOnShowFileChooser"
            android:label="@string/title_activity_webview_with_onshow_file_chooser"
            android:parentActivityName=".WebViewAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="WebView.WebChromeClient.WebViewClient" />
            </intent-filter>
        </activity>
    </application>
</manifest>