<?xml version="1.0" encoding="utf-8"?>

<!--
  Copyright (c) 2014 Intel Corporation. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xwalkview.maximum.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="android.app.Application"
        android:hardwareAccelerated="true"
        android:label="views_maximum_test">
        <activity
            android:name="org.xwalkview.maximum.app.XWalkEmbeddedAPISample"
            android:label="views_maximum_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.maximum.app.AddWebViewsActivity"
            android:label="WebView Maximum"
            android:parentActivityName="org.xwalkview.maximum.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.maximum.app.AddSurfaceViewsActivity"
            android:label="SurfaceView Maximum"
            android:parentActivityName="org.xwalkview.maximum.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.maximum.app.AddTextureViewsActivity"
            android:label="TextureView Maximum"
            android:parentActivityName="org.xwalkview.maximum.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.maximum.app.XWalkViewsActivity"
            android:label="XWalkView Maximum"
            android:parentActivityName="org.xwalkview.maximum.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.maximum.app.TabSurfaceViewsActivity"
            android:label="Multi Tab SurfaceViews"
            android:parentActivityName="org.xwalkview.maximum.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.maximum.app.TabTextureViewsActivity"
            android:label="Multi Tab TextureViews"
            android:parentActivityName="org.xwalkview.maximum.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.maximum.app.TabWebViewsActivity"
            android:label="Multi Tab WebViews"
            android:parentActivityName="org.xwalkview.maximum.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
