<?xml version="1.0" encoding="utf-8"?>

<!--
  Copyright (c) 2014 Intel Corporation. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xwalkview.stability.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.xwalk.core.XWalkApplication"
        android:hardwareAccelerated="true"
        android:label="XWalkView-Stability-Test">
        <activity
            android:name="org.xwalkview.stability.app.XWalkEmbeddedAPISample"
            android:label="XWalkView-Stability-Test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.AddWebViewsActivity"
            android:label="WebView Maximum"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.AddXWalkViewsActivity"
            android:label="XWalkView Maximum"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.NavigationWebViewsActivity"
            android:label="WebView Navigation"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.NavigationXWalkViewsActivity"
            android:label="XWalkView Navigation"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.SwipeWebViewsActivity"
            android:label="WebView Swipe"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.SwipeXWalkViewsActivity"
            android:label="XWalkView Swipe"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.ImageXWalkViewsActivity"
            android:label="XWalkView Load Image Webpages"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.ImageWebViewsActivity"
            android:label="WebView Load Image Webpages"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.VideoXWalkViewsActivity"
            android:label="XWalkView Load Playing Video Webpages"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.VideoWebViewsActivity"
            android:label="WebView Load Playing Video Webpages"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.TabXWalkViewsActivity"
            android:label="Multi Tab XWalkViews"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.TabWebViewsActivity"
            android:label="Multi Tab WebViews"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.TabImageXWalkViewsActivity"
            android:label="Multi Tab XWalkViews Load Image Webpages"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.TabImageWebViewsActivity"
            android:label="Multi Tab WebViews Load Image Webpages"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.TabVideoXWalkViewsActivity"
            android:label="Multi Tab XWalkViews Load Video Webpages"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.TabVideoWebViewsActivity"
            android:label="Multi Tab WebViews Load Video Webpages"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.AutoOneXWalkViewsActivity"
            android:label="Repeat Create 1 XWalkView for auto cases"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.AutoMultiXWalkViewsActivity"
            android:label="Repeat Create 5 XWalkViews for auto cases"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.XWalkViewsPlayingVideoActivity"
            android:label="XWalkView Long Time Playing Video for auto cases"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.xwalkview.stability.app.XWalkViewsPlayingGameActivity"
            android:label="XWalkView Long Time Playing Game for auto cases"
            android:parentActivityName="org.xwalkview.stability.app.XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
