<widget id='http://tizen.org/test' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <name>wgt_sample_one</name>
  <tizen:application id="wgtsamplet.tizen" package="wgtsamplet" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
  <splash-screen src="icon.png"/>
</widget>
