<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/multiple-other-filesystem-read" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets">
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <content src="index.html"/>
  <name>multiple-other-filesystem-read</name>
  <tizen:application id="wrt4mof063.multipleotherfilesystemread" package="wrt4mof063" required_version="2.1"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
</widget>