<widget id='http://tizen.org/test/tct-getcapabilities' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='2.2.1'>

  <access origin="*"/>

  <icon src="icon.png" height="117" width="117"/>

  <name>tct-getcapabilities</name>

  <tizen:application id="api1getcap.sysinfo" package="api1getcap" required_version="2.1"/>

  <tizen:privilege name="http://tizen.org/privilege/testautomation"/>

  <tizen:privilege name="http://tizen.org/privilege/system"/>

  <tizen:privilege name="http://tizen.org/privilege/systemmanager"/>

  <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>

  <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>

</widget>
