<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/feature-element-be-ignored" version="1.0.0" viewmodes="maximized">
  <tizen:application id="wrt1apm018.featureelementbeignored" package="wrt1apm018" required_version="2.1"/>
  <feature name="http://example.org/api.geolocation" required="false"/>
  <content src="index.html"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>feature-element-be-ignored</name>
</widget>