<widget id='http://tizen.org/test/webapi-webrtc-w3c-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>webapi-webrtc-w3c-tests</name>
  <tizen:application id="webrtcapps.WebAPIwebrtcTests" package="webrtcapps" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
