[Desktop Entry]
Version=1.0
Name=Hang On, Man!
Comment=A word guessing game
GenericName=Hang On, Man!
Exec=chromium-browser --enable-plugins --enable-extensions --enable-user-scripts --enable-printing --enable-sync --use-gl=egl --ignore-gpu-blacklist --auto-ssl-client-auth %U --app-id=anabakkiebghmghfmokcjeaocehkclod --load-extension=/usr/share/hangonman/ --no-first-run
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=hangonman
Categories=Game;
StartupWMClass=Chromium
StartupNotify=true
