<widget id='http://tizen.org/test/tct-contact-tizen-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='2.2.1'>
  <access origin="*"/>
  <name>tct-contact-tizen-tests</name>
  <tizen:privilege name="http://tizen.org/privilege/contact.read"/>
  <tizen:privilege name="http://tizen.org/privilege/contact.write"/>
  <icon src="icon.png" height="117" width="117"/>
  <tizen:application id="api1conta0.WebAPITizenContactTests" package="api1conta0" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape" />
  <tizen:setting background-support="enable"/>
</widget>

