<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        id    = "http://example.org/exampleWidget"
        version = "2.0 Beta"
        height = "200"
        widtht = "200"
        viewmode = "fullscreen">
  
  <name short="Example 2.0">i18n_locales_chinese_tests
  </name>
  <name xml:lang="zh">i18n中文</name>
  <name xml:lang="ja">i18nページ</name>
  <name xml:lang="en">i18nEnglish</name>
  <description>  This is i18n language test app. </description>
  <description xml:lang="zh">中文描述</description>
  <description xml:lang="ja">ページページ</description>
  <description xml:lang="en">English description</description>
</widget>
