<widget id='http://tizen.org/test/tct-clipboard-w3c-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>tct-clipboard-w3c-tests</name>
  <tizen:application id="w3cclipboa.WebAPIW3CClipboardTests" package="w3cclipboa" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
  <tizen:privilege name="http://tizen.org/privilege/location"/>
</widget>
