<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/sp-widget-signature-support-decode" version="1.0.0">
    <tizen:application id="AsLl4vdeco.spWidgetValidSignaturesupportdecode" package="AsLl4vdeco" required_version="2.2"/>
    <content src="index.html"/>
    <icon src="icon.png" height="123" width="123"/>
    <name>sp-widget-signature-support-decode</name>
</widget>
