<widget id='http://tizen.org/test/wrt-3d-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='1.0.0.1'>
  <name short="Example 2.0">3d_test</name>
  <tizen:application id="thrdoptest.twodframeplaytest" package="thrdoptest" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
