<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://example.org/test/alarmTestApp" version="1.0.0" viewmodes="maximized">
    <name short="alarmTestApp">alarmTestApp</name>
    <description>This widget provides service for Tizen application unit test</description>
    <author>TizenDev</author>
    <icon src="icon.png"/>
    <content src="index.html"/>

    <tizen:application id="testalar00.alarmTestApp" package="testalar00" required_version="2.2"/>

</widget>
