<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/bluetooth-called-apps" version="1.0">
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <content src="index.html"/>
  <name>bluetooth-called-apps</name>
  <tizen:application id="wrtbltapps.bluetoothcalledapps" package="wrtbltapps" required_version="2.1"/>
</widget>
