<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/dom-events-video-onerror" version="1.0" viewmodes="fullscreen">
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <content src="index.html"/>
  <name>dom-events-video-onerror</name>
  <tizen:application id="wrt3evo066.DomEventsVideoOnerror" package="wrt3evo066" required_version="2.1"/>
</widget>