<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/application-required-version-support-by-system-version" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets">
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <content src="index.html"/>
  <name>application-required-version-support-by-system-version</name>
  <tizen:application id="wrtrvsbysv.ApplicationRequiredVersionSupportbytizenve" package="wrtrvsbysv" required_version="3.0"/>
</widget>
