<widget id='http://tizen.org/test/wrt-2d-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='1.0.0.1'>
  <name short="Example 2.0">2d_test</name>
  <tizen:application id="twodoptest.twodframeplaytest" package="twodoptest" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
