[data-control="label"] .type-default{
  width: 97%;
  height: 97%;
  padding: 1.5%;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

[data-control="label"] .type-paster{
  padding: 7px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.65);
  text-align: center;
}

[data-control="label"] .type-decals{
  width: 84%;
  height: 90%;
  padding: 5% 8%;
  text-align: left;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear,0 0,0 100%,from(rgb(254,251,135)),to(rgb(253,252,187)));
}

[data-control="label"] .type-basic{
  width: 100%;
  height: 100%;
  text-align: left;
}

[data-control="label"] .content{
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

[data-control="label"] .content > div{
  position: relative;
  float: left;
  width: 100%;
  
}

[data-control="label"] .type-paster .content{border :dashed rgb(66,49,12) 1px;}

[data-control="label"] .text{
  width: 100%;
  margin: 0;
  padding: 0;
}

[data-control="label"] .text li{list-style: none;}