<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/TCTAppControl" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"/>
    <tizen:app-control>
        <tizen:src name="appcontrol_launch.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/tct/launch"/>
    </tizen:app-control>
    <tizen:app-control>
        <tizen:src name="appcontrol_launch.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/tct/launch"/>
        <tizen:uri name="tct"/>
    </tizen:app-control>
    <tizen:app-control>
        <tizen:src name="appcontrol_launch.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/tct/launch"/>
        <tizen:mime name="text/html"/>
    </tizen:app-control>
    <tizen:app-control>
        <tizen:src name="appcontrol_launch.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/tct/launch"/>
        <tizen:uri name="tct"/>
        <tizen:mime name="text/html"/>
    </tizen:app-control>
    <tizen:app-control>
        <tizen:src name="appcontrol_launch_explicit.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/tct/launch/explicit"/>
        <tizen:uri name="tct"/>
        <tizen:mime name="text/html"/>
    </tizen:app-control>
    <tizen:app-control>
        <tizen:src name="appcontrol_reply_result.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/tct/reply_result"/>
    </tizen:app-control>
    <tizen:app-control>
        <tizen:src name="appcontrol_reply_result_with_data.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/tct/reply_result/data"/>
    </tizen:app-control>
    <tizen:app-control>
        <tizen:src name="appcontrol_reply_failure.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/tct/reply_failure"/>
    </tizen:app-control>
    <tizen:app-control>
        <tizen:src name="appcontrol_run_test.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/tct/run_test"/>
        <tizen:uri name="tct"/>
        <tizen:mime name="application/javascript"/>
    </tizen:app-control>
    <tizen:app-control>
        <tizen:src name="appcontrol_exit.html"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/tct/exit"/>
    </tizen:app-control>
    <tizen:application id="api1appli1.TCTAppControl" package="api1appli1" required_version="2.2"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>TCTAppControl</name>
    <tizen:metadata key="testKey1" value="testValue1"/>
    <tizen:metadata key="testKey2" value="testValue2"/>
    <tizen:setting screen-orientation="landscape" background-support="enable"/>
</widget>
