<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/tizen-application-control" version="1.0.0" viewmodes="maximized">
  <tizen:application id="wrttac0020.tizenapplicationcontrol" package="wrttac0020" required_version="2.1"/>
  <content src="index.html"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>tizen-application-control</name>
</widget>
