<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2014 Intel Corporation. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xwalk.embedded.api.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.xwalk.core.XWalkApplication"
        android:hardwareAccelerated="true"
        android:label="usecase-embedding-android-tests" >
        <activity
            android:name=".XWalkEmbeddedAPISample"
            android:label="Usecase EmbeddingAPI" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithLayoutActivity"
            android:label="@string/title_activity_xwalk_view_with_layout"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithMultiInstanceActivity"
            android:label="@string/title_activity_xwalk_view_with_multi_instance"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithLoadAppFromManifest"
            android:label="@string/title_activity_xwalk_view_with_load_app_from_manifest"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithResourceAndUIClient"
            android:label="@string/title_activity_xwalk_view_with_resource_ui_client"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".misc.XWalkViewWithPreferences"
            android:label="@string/title_activity_xwalk_view_with_preferences"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Misc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".misc.XWalkViewWithNavigation"
            android:label="@string/title_activity_xwalk_view_with_navigation"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Misc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithPauseTimer"
            android:label="@string/title_activity_xwalk_view_with_pause_timer"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithOnHideOnShow"
            android:label="@string/title_activity_xwalk_view_with_onhide_onshow"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithVersionAndAPIVersion"
            android:label="@string/title_activity_xwalk_view_with_version_apiversion"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".misc.XWalkViewWithEchoExtension"
            android:label="@string/title_activity_xwalk_view_with_echo_extension"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Misc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithAnimatable"
            android:label="@string/title_activity_xwalk_view_with_animatable"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithMultiSurfaceViews"
            android:label="@string/title_activity_xwalk_view_with_multi_surfaceviews"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithMultiTextureViews"
            android:label="@string/title_activity_xwalk_view_with_multi_textureviews"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithOnIconAvailableOnReceivedIcon"
            android:label="@string/title_activity_xwalk_view_with_oniconavailable"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithOnCreateWindowRequested"
            android:label="@string/title_activity_xwalk_view_with_oncreatewindow_requested"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithFullScreenActivity"
            android:label="@string/title_activity_xwalk_view_with_full_screen"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithShouldOverrideUrlLoading"
            android:label="@string/title_activity_xwalk_view_with_shouldoverrideurlloading"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithSetZOrderOnTop"
            android:label="@string/title_activity_xwalk_view_with_setzorderontop"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithRedirection"
            android:label="@string/title_activity_xwalk_view_with_redirection"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithLoadImage"
            android:label="@string/title_activity_xwalk_view_with_load_image"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithClearCache"
            android:label="@string/title_activity_xwalk_view_with_clear_cache"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".misc.XWalkViewWithDownloadListenerActivity"
            android:label="@string/title_activity_xwalk_view_with_download_listener"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Misc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithZoomInAndOut"
            android:label="@string/title_activity_xwalk_view_with_zoom_in_out"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".misc.XWalkViewWithContactExtension"
            android:label="@string/title_activity_xwalk_view_with_contact_extension"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Misc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithBlockAndErrorRedirection"
            android:label="@string/title_activity_xwalk_view_with_block_error_redirection"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithSaveState"
            android:label="@string/title_activity_xwalk_view_with_save_state"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithInputConnection"
            android:label="@string/title_activity_xwalk_view_with_input_connection"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithDispatchKeyEvent"
            android:label="@string/title_activity_xwalk_view_with_dispatch_keyevent"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithSetLanguage"
            android:label="@string/title_activity_xwalk_view_with_set_language"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithDispatchDraw"
            android:label="@string/title_activity_xwalk_view_with_dispatch_draw"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithOnDraw"
            android:label="@string/title_activity_xwalk_view_with_on_draw"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".misc.XWalkViewWithCookieManagerTest"
            android:label="@string/title_activity_xwalk_view_with_cookie_manager"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Misc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithOverScroll"
            android:label="@string/title_activity_xwalk_view_with_over_scroll"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithOnTouchEvent"
            android:label="@string/title_activity_xwalk_view_with_on_touch_event"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".misc.XWalkViewWithAcceptFileSchemeCookies"
            android:label="@string/title_activity_xwalk_view_with_accept_fileschemecookies"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Misc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithFocusChanged"
            android:label="@string/title_activity_xwalk_view_with_focus_changed"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithOverScrollBy"
            android:label="@string/title_activity_xwalk_view_with_over_scroll_by"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithScrollChanged"
            android:label="@string/title_activity_xwalk_view_with_scroll_changed"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithSizeChanged"
            android:label="@string/title_activity_xwalk_view_with_size_changed"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithVisibilityChanged"
            android:label="@string/title_activity_xwalk_view_with_visibility_changed"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithWindowFocusChanged"
            android:label="@string/title_activity_xwalk_view_with_window_focus_changed"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithClearFormData"
            android:label="@string/title_activity_xwalk_view_with_clear_formdata"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithWindowsVisibilityChanged"
            android:label="@string/title_activity_xwalk_view_with_windows_visibility_changed"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithDisableLongClick"
            android:label="@string/title_activity_xwalk_view_with_disable_longclick"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.BlankWindowForVisibilityTesting"
            android:label="@string/title_activity_blank_window_for_visibility_testing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithOnReceivedLoadError"
            android:label="@string/title_activity_xwalk_view_with_onreceived_loaderror"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithLongClick"
            android:label="@string/title_activity_xwalk_view_with_long_click"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithRequestFocus"
            android:label="@string/title_activity_xwalk_view_with_request_focus"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithClientOnRequestFocus"
            android:label="@string/title_activity_xwalk_view_with_client_on_request_focus"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithSetLayerType"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_xwalk_view_with_set_layer_type"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extended.XWalkViewWithNetworkAvailable"
            android:label="@string/title_activity_xwalk_view_with_network_available"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Extended" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithConsoleLog"
            android:label="@string/title_activity_xwalk_view_with_console_log"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithReceivedTitle"
            android:label="@string/title_activity_xwalk_view_with_received_title"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithClientKeyEvent"
            android:label="@string/title_activity_xwalk_view_with_client_key_event"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithClientReceivedSSLError"
            android:label="@string/title_activity_xwalk_view_with_client_received_sslerror"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithTransparent"
            android:label="@string/title_activity_xwalk_view_with_transparent"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithSetInitialScale"
            android:label="@string/title_activity_xwalk_view_with_set_initialscale"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithOnUnhandledKeyEvent"
            android:label="@string/title_activity_xwalk_view_with_onunhandled_keyevent"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithClearCacheForSingleFile"
            android:label="@string/title_activity_xwalk_view_with_clearcache_singlefile"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithEncodingDisplay"
            android:label="@string/title_activity_xwalk_view_with_encoding_display"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithOpenFileChooser"
            android:label="@string/title_activity_xwalk_view_with_open_file_chooser"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithScrollViewParent"
            android:label="@string/title_activity_xwalk_view_with_scrollview_parent"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithMultiInstanceOverlay"
            android:label="@string/title_activity_xwalk_view_with_multi_instance_overlay"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.XWalkViewWithOnReceivedHttpAuthRequest"
            android:label="@string/title_activity_xwalk_view_with_httpauth_request"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.UIClient.ResourceClient" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basic.XWalkViewWithWindowSecure"
            android:label="@string/title_activity_xwalk_view_with_window_secure"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="XWalkView.Basic" />
            </intent-filter>
        </activity>
    </application>
</manifest>
