@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: 400;
  src: local('Annie Use Your Telescope'), local('AnnieUseYourTelescope'), url("./Annie_Use_Your_Telescope/AnnieUseYourTelescope.ttf");
}
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: local('Coming Soon'), local('ComingSoon'), url(./Coming_Soon/ComingSoon.ttf);
}
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: local('Handlee Regular'), local('Handlee-Regular'), url(./Handlee/Handlee-Regular.ttf);
}
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(Shadows_Into_Light/ShadowsIntoLight.ttf);
}
@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(Shadows_Into_Light_Two/ShadowsIntoLightTwo-Regular.ttf);
}
@font-face{
 font-family:League_Gothic;
 src:url(League_Gothic/League_Gothic.woff);
}
@font-face{
 font-family:yahei;
 src:url(ms-yahei/ms-yahei.ttf);
}
/*
font-family: 'Shadows Into Light', cursive;
font-family: 'Handlee', cursive;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Coming Soon', cursive;
 */

@font-face {
  font-family:'league-gothic';
  src: url('League_Gothic-webfont.woff') format('woff');
}
