<widget id='http://tizen.org/test/wrt-playvideo-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='1.0.0.1'>
  <name short="Example 2.0">play_test_video</name>
  <tizen:application id="videoplaye.playwebappvideotest" package="videoplaye" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
