<widget id='http://tizen.org/test/tct-capability-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>tct-capability-tests</name>
  <tizen:application id="api0capab0.WebAPICapabilityTests" package="api0capab0" required_version="2.2"/>
  <tizen:privilege name="http://tizen.org/privilege/system"/>
  <tizen:privilege name="http://tizen.org/privilege/download"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
