<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2014 Intel Corporation. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xwalk.embedded.api.asyncsample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.xwalk.core.XWalkApplication"
        android:hardwareAccelerated="true"
        android:label="usecase-embedding-android-tests" >
        <activity
            android:name=".XWalkEmbeddedAPISample"
            android:label="AsyncUsecase EmbeddingAPI" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithLayoutActivityAsync"
            android:label="XWalkViewUIInflationAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiXWalkViewActivityAsync"
            android:label="MultiInstanceAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadAppFromManifestLayoutActivityAsync"
            android:label="LoadAppFromManifestAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResourceAndUIClientsActivityAsync"
            android:label="XWalkResourceClientAndXWalkUIClientAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkPreferencesActivityAsync"
            android:label="XWalkPreferencesAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkNavigationActivityAsync"
            android:label="XWalkNavigationAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PauseTimersActivityAsync"
            android:label="PauseJsTimersAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnHideOnShowActivityAsync"
            android:label="OnHideOnShowAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkVersionAndAPIVersionAsync"
            android:label="VersionsAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EchoExtensionActivityAsync"
            android:label="EchoExtensionAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimatableXWalkViewActivityAsync"
            android:label="AnimatableXWalkViewAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiSurfaceViewsActivityAsync"
            android:label="MultipleSurfaceViewsAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiTextureViewsActivityAsync"
            android:label="MultipleTextureViewsAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnIconAvailableOnReceivedIconActivityAsync"
            android:label="OnIconAvailableOnReceivedIconAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnCreateWindowRequestedActivityAsync"
            android:label="OnCreateWindowRequestedAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullScreenActivityAsync"
            android:label="FullScreenAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShouldOverrideUrlLoadingActivityAsync"
            android:label="ShouldOverrideUrlLoadingAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithTransparentAsync"
            android:label="SetZOrderOnTopAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithRedirectionAsync"
            android:label="XWalkViewWithRedirectionAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithLoadImageAsync"
            android:label="XWalkViewWithLoadImageAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithClearCacheAsync"
            android:label="XWalkViewWithClearCacheAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithDownloadListenerActivityAsync"
            android:label="XWalkViewWithDownloadListenerAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZoomInAndOutXWalkViewActivityAsync"
            android:label="ZoomInAndOutXWalkViewAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactExtensionActivityAsync"
            android:label="ContactExtensionAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkBlockAndErrorRedirectionAsync"
            android:label="XWalkBlockAndErrorRedirectionAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkWithSaveStateAsync"
            android:label="XWalkWithSaveStateAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkWithInputConnectionAsync"
            android:label="XWalkWithInputConnectionAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithDispatchKeyEventAsync"
            android:label="XWalkViewWithDispatchKeyEventAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithSetLanguageAsync"
            android:label="XWalkViewWithSetLanguageAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithDispatchDrawAsync"
            android:label="@string/title_activity_xwalk_view_with_dispatch_draw_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithOnDrawAsync"
            android:label="@string/title_activity_xwalk_view_with_on_draw_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CookieManagerTestActivityAsync"
            android:label="CookieManagerTestAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithOverScrollAsync"
            android:label="@string/title_activity_xwalk_view_with_over_scroll_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithOnTouchEventAsync"
            android:label="@string/title_activity_xwalk_view_with_on_touch_event_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AcceptFileSchemeCookiesActivityAsync"
            android:label="AcceptFileSchemeCookiesAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithFocusChangedAsync"
            android:label="@string/title_activity_xwalk_view_with_focus_changed_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithOverScrollByAsync"
            android:label="@string/title_activity_xwalk_view_with_over_scroll_by_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithScrollChangedAsync"
            android:label="@string/title_activity_xwalk_view_with_scroll_changed_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithSizeChangedAsync"
            android:label="@string/title_activity_xwalk_view_with_size_changed_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithVisibilityChangedAsync"
            android:label="@string/title_activity_xwalk_view_with_visibility_changed_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlankWindowForVisibilityTesting"
            android:label="@string/title_activity_blank_window_for_visibility_testing" >
        </activity>
        <activity
            android:name=".XWalkViewWithWindowsVisibilityChangedAsync"
            android:label="@string/title_activity_xwalk_view_with_windows_visibility_changed_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkWithClearFormDataAsync"
            android:label="XWalkWithClearFormDataAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithWindowFocusChangedAsync"
            android:label="@string/title_activity_xwalk_view_with_window_focus_changed_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithDisableLongClickAsync"
            android:label="XWalkViewWithDisableLongClickAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkWithOnReceivedLoadErrorAsync"
            android:label="XWalkWithOnReceivedLoadErrorAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithLongClickAsync"
            android:label="@string/title_activity_xwalk_view_with_long_click_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithRequestFocusAsync"
            android:label="@string/title_activity_xwalk_view_with_request_focus_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithSetLayerTypeAsync"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_xwalk_view_with_set_layer_type_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithNetworkAvailableAsync"
            android:label="@string/title_activity_xwalk_view_with_network_available_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
