<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2014 Intel Corporation. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xwalk.embedded.api.asyncsample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.xwalk.core.XWalkApplication"
        android:hardwareAccelerated="true"
        android:label="usecase-embedding-android-tests" >
        <activity
            android:name=".XWalkEmbeddedAPISample"
            android:label="AsyncUsecase EmbeddingAPI" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithLayoutActivityAsync"
            android:label="XWalkView UI inflation"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiXWalkViewActivityAsync"
            android:label="Multi instance"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadAppFromManifestLayoutActivityAsync"
            android:label="Load app from manifest"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResourceAndUIClientsActivityAsync"
            android:label="XWalkResourceClient And XWalkUIClient"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkPreferencesActivityAsync"
            android:label="XWalkPreferences"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkNavigationActivityAsync"
            android:label="XWalkNavigation"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PauseTimersActivityAsync"
            android:label="Pause js timers"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnHideOnShowActivityAsync"
            android:label="onHide() onShow()"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkVersionAndAPIVersionAsync"
            android:label="Versions"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EchoExtensionActivityAsync"
            android:label="EchoExtension"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimatableXWalkViewActivityAsync"
            android:label="Animatable XWalkView"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiSurfaceViewsActivityAsync"
            android:label="Multiple SurfaceViews"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiTextureViewsActivityAsync"
            android:label="Multiple TextureViews"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnIconAvailableOnReceivedIconActivityAsync"
            android:label="onIconAvailable() onReceivedIcon()"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnCreateWindowRequestedActivityAsync"
            android:label="OnCreateWindowRequested()"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullScreenActivityAsync"
            android:label="FullScreen"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShouldOverrideUrlLoadingActivityAsync"
            android:label="ShouldOverrideUrlLoading()"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithTransparentAsync"
            android:label="setZOrderOnTop()"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithRedirectionAsync"
            android:label="XWalkViewWithRedirection"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithLoadImageAsync"
            android:label="XWalkViewWithLoadImage"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithClearCacheAsync"
            android:label="XWalkViewWithClearCache"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithDownloadListenerActivityAsync"
            android:label="XWalkViewWithDownloadListener"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZoomInAndOutXWalkViewActivityAsync"
            android:label="ZoomInAndOutXWalkView"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactExtensionActivityAsync"
            android:label="ContactExtension"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkBlockAndErrorRedirectionAsync"
            android:label="XWalkBlockAndErrorRedirection"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkWithSaveStateAsync"
            android:label="XWalkWithSaveState"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkWithInputConnectionAsync"
            android:label="XWalkWithInputConnection"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithDispatchKeyEventAsync"
            android:label="XWalkViewWithDispatchKeyEvent"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithSetLanguageAsync"
            android:label="XWalkViewWithSetLanguage"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithDispatchDrawAsync"
            android:label="@string/title_activity_xwalk_view_with_dispatch_draw_async"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CookieManagerTestActivityAsync"
            android:label="CookieManagerTestActivityAsync"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>        
    </application>

</manifest>
