<?xml version="1.0" encoding="utf-8"?>

<!--
  Copyright (c) 2014 Intel Corporation. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xwalk.embedded.api.asyncsample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.xwalk.core.XWalkApplication"
        android:hardwareAccelerated="true"
        android:label="usecase-embedding-android-tests" >
        <activity
            android:name=".XWalkEmbeddedAPISample"
            android:label="AsyncUsecase EmbeddingAPI" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithLayoutActivity"
            android:label="XWalkView UI inflation"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiXWalkViewActivity"
            android:label="Multi instance"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadAppFromManifestLayoutActivity"
            android:label="Load app from manifest"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResourceAndUIClientsActivity"
            android:label="XWalkResourceClient And XWalkUIClient"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkPreferencesActivity"
            android:label="XWalkPreferences"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkNavigationActivity"
            android:label="XWalkNavigation"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PauseTimersActivity"
            android:label="Pause js timers"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnHideOnShowActivity"
            android:label="onHide() onShow()"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkVersionAndAPIVersion"
            android:label="Versions"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EchoExtensionActivity"
            android:label="EchoExtension"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimatableXWalkViewActivity"
            android:label="Animatable XWalkView"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiSurfaceViewsActivity"
            android:label="Multiple SurfaceViews"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiTextureViewsActivity"
            android:label="Multiple TextureViews"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnIconAvailableOnReceivedIconActivity"
            android:label="onIconAvailable() onReceivedIcon()"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnCreateWindowRequestedActivity"
            android:label="OnCreateWindowRequested()"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullScreenActivity"
            android:label="FullScreen"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShouldOverrideUrlLoadingActivity"
            android:label="ShouldOverrideUrlLoading()"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithTransparent"
            android:label="setZOrderOnTop()"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithRedirection"
            android:label="XWalkViewWithRedirection"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithLoadImage"
            android:label="XWalkViewWithLoadImage"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XWalkViewWithClearCache"
            android:label="XWalkViewWithClearCache"
            android:parentActivityName=".XWalkEmbeddedAPISample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
