<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/security-messaging-write-disable" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets">
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <content src="index.html"/>
  <name>web-api-version</name>
  <tizen:application id="wrt1apm017.securitymessagingwritedisable" package="wrt1apm017" required_version="8.0"/>
</widget>