<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/app-widget-signature-invalid">
  <tizen:app-widget id="wrt6aws021.appwidgetsignatureinvalid.default" primary="true">
    <tizen:box-label>Web Application Signature invalid</tizen:box-label>
    <tizen:box-icon src="icon.png" height="117" width="117"/>
    <tizen:box-content src="box/index.html">
      <tizen:box-size>1x1</tizen:box-size>
      <tizen:box-size>2x1</tizen:box-size>
      <tizen:box-size>2x2</tizen:box-size>
      <tizen:pd src="pd/index.html" width="600" height="200"/>
    </tizen:box-content>
  </tizen:app-widget>
  <tizen:application id="wrt6aws021.appwidgetsignatureinvalid" package="wrt6aws021" required_version="2.1"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>app-widget-signature-invalid</name>
</widget>