<widget id='http://tizen.org/test/tct-appcache-html5-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>tct-appcache-html5-tests</name>
  <tizen:application id="html5appca.WebAPIHTML5AppcacheTests" package="html5appca" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
