<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/lifecycle-exit-running-app" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" >
  <content src="index.html"/>
  <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>lifecycle-exit-running-app</name>
  <tizen:application id="wrt3ler011.LifecycleExitRunningApp" package="wrt3ler011" required_version="2.1"/>
  <tizen:setting background-support="enable"/>
</widget>
