<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/WIdgetIDAppID" version="2.0.0" viewmodes="maximized">
  <tizen:application id="wrt1wai008.WIdgetIDAppID" package="wrt1wai008" required_version="2.1"/>
  <content src="index.html"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>WIdgetIDAppID</name>
</widget>