<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/protection-decrypt-css" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets">
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <content src="index.html"/>
  <name>protection-decrypt-css</name>
  <tizen:application id="wrt5pec098.protectiondecryptcss" package="wrt5pec098" required_version="2.1"/>
  <tizen:setting encryption="enable"/>
</widget>
