<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/widget-version3" version="3.0.0" viewmodes="maximized">
  <tizen:application id="wrt1wvt010.widgetversion3" package="wrt1wvt010" required_version="2.1"/>
  <content src="index.html"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>widget-version3</name>
</widget>