<widget id='http://tizen.org/test/wrt-commoni18n-webapp-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <name short="Example 2.0">i18n_locales_language_tests</name>
  <description>This is i18n language test app.</description>
  <tizen:application id="i18nlangua.Language" package="i18nlangua" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
