<widget id='http://tizen.org/test/tct-selectorslevel2-w3c-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>tct-selectorslevel2-w3c-tests</name>
  <tizen:application id="w3cslevel2.WebAPIW3CSelectorslevel2Tests" package="w3cslevel2" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
