<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/private_localstorage_check" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets">
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <content src="index.html"/>
  <name>private_localstorage_check</name>
  <tizen:application id="wrt5plc001.privatelocalstoragecheck" package="wrt5plc001" required_version="2.1"/>
</widget>
