<widget id='http://tizen.org/test/tct-alarm-tizen-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='2.2.1'>
  <access origin="*"/>
  <name>tct-alarm-tizen-tests</name>
  <tizen:privilege name="http://tizen.org/privilege/alarm"/>
  <icon src="icon.png" height="117" width="117"/>
  <tizen:application id="api1alarm0.WebAPITizenAlarmTests" package="api1alarm0" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape" />
  <tizen:setting background-support="enable"/>
</widget>

