<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/widget-version2" version="2.0.0" viewmodes="maximized">
  <tizen:application id="wrt1wvt009.widgetversion2" package="wrt1wvt009" required_version="2.1"/>
  <content src="index.html"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>widget-version2</name>
</widget>