<widget id='http://tizen.org/test/wrt-rtbin-tizen-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='1.0.0.1'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>web-mbat-xwalk-tests</name>
  <tizen:application id="bqgwahchnm.webmbattests" package="bqgwahchnm" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
