<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/DragandDrop" version="1.0.0" viewmodes="maximized">
    <tizen:application id="bhdragdrop.DragandDrop" package="bhdragdrop" required_version="2.1"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>DragandDrop</name>
</widget>
