<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/packageTestApp" version="1.1.1" viewmodes="maximized">
    <tizen:application id="ATRPHmnr6B.sharedDirTestApp" package="ATRPHmnr6B" required_version="2.2"/>
    <author>TizenComplianceTest</author>
    <content src="index.html"/>
    <description>This is a description which is used in tests.</description>
    <icon src="icon.png"/>
    <name>sharedDirTestApp</name>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:setting background-support="enable"/>
    <tizen:app-control>
        <tizen:src name="index.html" />
        <tizen:operation name="http://tizen.org/appcontrol/operation/sharedDir" />
    </tizen:app-control>
    <tizen:app-control>
        <tizen:src name="index.html" />
        <tizen:operation name="http://tizen.org/appcontrol/operation/homeDir" />
    </tizen:app-control>
</widget>

