<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/sp-widget-no-signature" version="1.0.0" viewmodes="maximized">
    <tizen:application id="bWcMjcFmQF.spWidgetNoSignature" package="bWcMjcFmQF" required_version="2.2"/>
    <author href="http://www.samsung.com" email="mengli.zhang@samsung.com">SRC-NJ mengli zhang</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png" height="123" width="123"/>
    <name>sp-widget-no-signature</name>
</widget>
