<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://tizen.org/tizen-application-control-test" version="1.0.0" viewmodes="maximized">
  <tizen:application id="wrttac0010.tizenapplicationcontroltest" package="wrttac0010" required_version="2.1"/>
  <tizen:app-control>
    <tizen:src name="view.html"/>
    <tizen:operation name="http://tizen.org/appcontrol/operation/view"/>
    <tizen:mime name="image/png" />
    <tizen:uri name=""/>
  </tizen:app-control>
  <content src="index.html"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>tizen-application-control-test</name>
</widget>
