<widget id='http://tizen.org/test/tct-xmlhttprequest-w3c-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>tct-xmlhttprequest-w3c-tests</name>
  <tizen:application id="w3cxmlhttp.WebAPIW3CXmlhttprequestTests" package="w3cxmlhttp" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
</widget>
