<?xml version="1.0" encoding="UTF-8"?>
<widget id="http://tizen.org/lifecycle-load-event" xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" >
  <content src="index.html"/>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>lifecycle-load-event</name>
  <tizen:application id="wrt3lle017.LifecycleLoadEvent" package="wrt3lle017" required_version="2.1"/>
</widget>
