<widget id='http://tizen.org/test/tct-gumallow-w3c-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets'>
  <access origin="*"/>
  <icon src="icon.png" height="117" width="117"/>
  <name>tct-gumallow-w3c-tests</name>
  <tizen:application id="w3cgumallo.WebAPIW3CGumallowTests" package="w3cgumallo" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>
  <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
</widget>
