<widget id='http://tizen.org/test/wrt-test-tests' xmlns='http://www.w3.org/ns/widgets' xmlns:tizen='http://tizen.org/ns/widgets' version='1.0.0.1'>
  <name>test_app</name>
  <tizen:application id="testapp001.commandlinetestapp" package="testapp001" required_version="2.2"/>
  <tizen:setting screen-orientation="landscape"/>  
</widget>
